svg {
    background-color: #99ccff;
    border: 2px solid #888888;
}

path {
    fill:   #e0f0d4;
    stroke: #666;
    stroke-width: .5px;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.map {
    margin-top: 2em;
}

image{
    cursor: pointer;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}