body {
    font-size: 12px;
    padding: 0.01em;
    background-color: #e8e9db;
}

h1{
    text-align: center;
	font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 30pt;
}

.map{    
    height: 490px;
    width: 65%;
    margin-left: 0;
    float: left;
    margin-top: 2em;
}


.videos{

    height:250px;
    width: 100%;
    float: right;
    margin-top: 10px;
    white-space:normal;
}
#right{
    overflow:auto;
    white-space:nowrap;
    display: none;
    float: right;
    width: 30%;
    height: 510px;
    margin-right: 2%;
}
#legend{
	float: left;
	font-size: 11px;
	margin-left: 1px;
}
#legend1{
	float: left;
	font-size: 9px;
	margin-left: 1px;	
}
#legend2{
	float: left;
	font-size: 9px;
	margin-left: 1px;	
}
#info{
    /*height:230px;*/
    font-size: 20px;
    font-family: sans-serif;
    white-space:normal;
}


img{
    object-fit: contain;
    cursor: pointer;
}

.danceType{
    text-align: center;
}

p.test {
    width: 30%;
    word-wrap: break-word;
    margin-top: 35px;
    float: right;
    margin-right: 2%;
}