body {
    font-size: 12px;
    padding: 0.01em;
    background-color: #00cc00;
}

h1{
    text-align: center;
}

.map{
    /*border-style: groove;*/
    height: 490px;
    width: 65%;
    margin-left: 0;
    float: left;
}


.videos{

    height:250px;
    width: 400px;
    float: right;
    margin-top: 10px;
    white-space:normal;
}
#right{
    margin-top: 2px;
    overflow:auto;
    white-space:nowrap;
    display: none;
    float: right;
    width: 30%;
    height: 490px;
    margin-right: 1%;
}
#info{
    /*height:230px;*/
    font-size: 20px;
    font-family: sans-serif;
    white-space:normal;
}


img{
    object-fit: contain;
    cursor: pointer;
}

.danceType{
    text-align: center;
}

